
html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
}
body{

  background: mediumaquamarine;
  color: black;
}
.fototo{
  size:310px 210px;
}
header{
  font-family: "Century Gothic";
  font-size: large;
  margin: auto;
  width: 20%;
  align-content: center;

}

h2{
  font-family: "Century Gothic";
  font-style: italic;
  font-size: medium;
}

footer{

}
